[submodule "AssaultCube-Hack-Menu/imgui"]
	path = AssaultCube-Hack-Menu/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "AssaultCube-Hack-Menu/libs/imgui"]
	path = AssaultCube-Hack-Menu/libs/imgui
	url = git@github.com:ocornut/imgui.git
